@font-face {
  font-family: 'EncodeSans';
  src: url(/assets/fonts/EncodeSansNormal-400-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'EncodeSans';
  src: url(/assets/fonts/EncodeSansNormal-600-SemiBold.ttf);
  font-weight: 500;
}

$font-stack: 'EncodeSans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
