---
title: Bystander CPR and AHA CPR Certification at Muhlenberg College
layout: default
description: MCEMS offers free bystander CPR classes periodically, and often holds quick workshops at the many campus events we have booths at, such as the Activities Fair, Community Service Fair, and others. Bystander CPR teaches students the crucial steps they need to perform to save a life in the event of cardiac arrest. It's quick, easy, and free to learn.
image: https://www.bergems.org/assets/images/cpr_class.jpg
---

<div class="row">
  <div class="col-md-8">
    <h1>American Heart Association HeartSaver® CPR Course</h1>

    <p>Thanks to the generocity of Muhlenberg's Student Government Association, MCEMS in collaboration with PHAM are piloting a free CPR training program! If you sign up below, you will be able to obtain a CPR certification at no cost to you, and equip yourself with the necessary tools to save a life!</p>

    <p>Sign up  <a href="/learn-cpr/signup/">here</a>.</p>

    <div class="thumbnail">
      <img src="/assets/images/CPR2021.jpeg">
    </div>


  </div>
  <div class="col-md-4">
    <h3><a href="/learn-cpr/signup/" Sign Up here</a> </h3>
    {% endunless %}
    {% for session in site.data.cpr %}
      {% if session.type == 'bystander' %}
      <div class="panel panel-success">
        <div class="panel-heading">Bystander CPR</div>
      {% else if session.type == 'aha' %}
      <div class="panel panel-info">
        <div class="panel-heading">AHA Certification</div>
      {% endif %}
        <div class="panel-body">
          <h4>{{ session.start_time | date: '%B %-d, %Y' }}</h4>
          <p>
            <b>Where:</b> {{ session.location }}<br>
            <b>When:</b> {{ session.start_time | date: '%-I:%M %p' }} &ndash; {{ session.end_time | date: '%-I:%M %p' }}
          </p>
          {% if session.info %}
          <p>{{ session.info }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
