---
title: Bystander CPR and AHA CPR Certification at Muhlenberg College
layout: default
description: MCEMS offers free bystander CPR classes periodically, and often holds quick workshops at the many campus events we have booths at, such as the Activities Fair, Community Service Fair, and others. Bystander CPR teaches students the crucial steps they need to perform to save a life in the event of cardiac arrest. It's quick, easy, and free to learn.
image: https://www.bergems.org/assets/images/cpr_class.jpg
---

<div class="row">
  <div class="col-md-8">
    <h1>Hands-only bystander CPR training</h1>

    <p>MCEMS offers free bystander CPR classes periodically, and often holds quick workshops at the many campus events we have booths at, such as the Activities Fair, Community Service Fair, and others.</p>

    <p>Bystander CPR teaches students the crucial steps they need to perform to save a life in the event of cardiac arrest. It's quick, easy, and free to learn. Check out our upcoming sessions tagged with "Bystander" and email us to register.</p>

    <div class="thumbnail">
      <img src="/assets/images/cpr_2017.jpg">
    </div>

    <h1>American Heart Association Certification</h1>

    <p>While we hold classes for free, we do charge a $25 to cover the cost of the certification materials if you would like to receive proof of your training. MCEMS does not keep any of this money, it all goes directly to the American Heart Association.</p>

    <p>These sessions are offered less frequently, but generally at least once each semester, depending on interest. We can also do a special class just for the members of your organization! Email <a href="mailto:info@bergems.org">info@bergems.org</a> to get in touch.</p>
  </div>
  <div class="col-md-4">
    <h3>Upcoming Sessions</h3>
    <p>Email <a href="mailto:info@bergems.org">info@bergems.org</a> to register</p>
    {% unless site.data.cpr %}
    <p>No sessions currently scheduled. Check back soon!</p>
    {% endunless %}
    {% for session in site.data.cpr %}
      {% if session.type == 'bystander' %}
      <div class="panel panel-success">
        <div class="panel-heading">Bystander CPR</div>
      {% else if session.type == 'aha' %}
      <div class="panel panel-info">
        <div class="panel-heading">AHA Certification</div>
      {% endif %}
        <div class="panel-body">
          <h4>{{ session.start_time | date: '%B %-d, %Y' }}</h4>
          <p>
            <b>Where:</b> {{ session.location }}<br>
            <b>When:</b> {{ session.start_time | date: '%-I:%M %p' }} &ndash; {{ session.end_time | date: '%-I:%M %p' }}
          </p>
          {% if session.info %}
          <p>{{ session.info }}</p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
