---
---

@import "bootstrap/bootstrap";

@font-face {
  font-family: 'EncodeSans';
  src: url(/assets/fonts/EncodeSansNormal-400-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'EncodeSans';
  src: url(/assets/fonts/EncodeSansNormal-600-SemiBold.ttf);
  font-weight: 500;
}

.navbar-mcems {
  background-color: $brand-primary;
  color: #ffffff;
  border-radius: 0;
  a {
    color: #ffffff;
  }

  .nav li a:hover,
  .nav li.active {
    background-color: darken($brand-primary, 10%);
  }
}

.site-footer {
  background-color: $gray-lighter;
  color: $gray;
  padding: 1em;
  margin-top: 2em;

  a {
    color: $gray;
    text-decoration: underline;
  }
}

.banner {
  width: 100%;
}

.icon-bar {
  background-color: #ffffff;
}
