<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/mcems.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="/assets/images/patch_icon.png" sizes="64x64">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    {% endif %}
    <meta name="keywords" content="{{ site.keywords | join ', ' }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:site_name" content="Muhlenberg College EMS">
    {% if page.image %}
    <meta property="og:image" content="{{ page.image }}">
    {% else %}
    <meta property="og:image" content="https://www.bergems.org/assets/images/backs_big.jpg">
    {% endif %}
    <meta property="og:url" content="http://www.bergems.org{{ page.url }}">
    <meta property="og:locale" content="en_US">
    <meta property="fb:admins" content="1439777397">
  </head>
  <body>
    <nav class="navbar navbar-mcems">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mcems-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <b><a href="/" class="navbar-brand">Muhlenberg College EMS</a></b>
        </div>
        <div class="collapse navbar-collapse" id="mcems-navbar-collapse-1">
          <ul class="nav navbar-nav">
            {% for item in site.data.nav %}
            <li {% if page.url == item.url %}class="active"{% endif %}><a href="{{ item.href }}">{{ item.text }}</a></li>
            {% endfor %}
          </ul>
          
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row hidden-sm hidden-xs">
        <div class="col-sm-12">
          <p><img class="banner" src="/assets/images/Newgraphicsjimmy1.jpeg" width=1280 height=500></p>
        </div>
      </div>
      {{ content }}
    </div>
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 hidden-sm hidden-xs">
            <p>
              <b>Emergency:</b> (484) 664-3110<br>
              <b>Non-Emergency:</b> (484) 664-3112
            </p>
            <address>
              Muhlenberg College EMS<br>
              Department of Campus Safety<br>
              Muhlenberg College<br>
              2400 West Chew Street<br>
              Allentown, Pennsylvania 18104
            </address>
          </div>
          <div class="col-md-4">
            <div class="text-center">
              <p><a href="https://www.facebook.com/MuhlenbergEMS">Find us on Facebook</a></p>
              <p><a href="https://www.instagram.com/berg.ems/"> Find us on Instagram</a></p>
              <p><a href="mailto:bergems@muhlenberg.edu">bergems@muhlenberg.edu</a></p>
              <p><a href="http://www.muhlenberg.edu/">www.muhlenberg.edu</a></p>
              <p class="small">
                Copyright Muhlenberg College EMS<br>
                All rights reserved
              </p>
            </div>
          </div>
          <div class="col-md-4 hidden-sm hidden-xs">
            <nav class="text-right">
              <strong>Quick Links</strong>
              <ul class="list-unstyled">
                <li><a href="/mission-statement/">Mission Statement</a></li>
                <li><a href="https://portal.bergems.org/">Member Portal</a></li>
                <li><a href="/learn-cpr/">Hands-Only CPR</a></li>
                <li><a href="/join-mcems/">Join MCEMS</a></li>
                <li><a href="/officers/">Executive Board</a></li>
                <li><a href="/faq/">Hours of Operation</a></li>
              </ul>
            </nav>
        </div>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/assets/scripts/bootstrap.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-43375446-2', 'auto');
      ga('require', 'linkid');
      ga('send', 'pageview');
    </script>
  </body>
</html>
